parameters:

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter
	debugger: true


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no

services:
	- App\Router\RouterFactory::createRouter
	- App\Component\Grid\Tweet\TweetGridFactory
	- App\Component\Form\Tweet\TweetFormFactory
	- App\Model\Manager\TweetManager
	- App\Model\Service\TweetService
	- App\Api\TwitterApi({defaultApi: 'Bearer AAAAAAAAAAAAAAAAAAAAAIZwRgEAAAAAMlvg40aMveLjUXvcIhU3Gc%%2FyQrc%3DlWoVEJBj1OHXV6AYiHlUcwiC7ZtKSurnxyMkaKmAvj8F2kVRJa'}) # here insert your Bearer Twitter API token. You can ganerate it on official Twitter website:  https://developer.twitter.com in format 'Baerer XXXXXXXXX'
