extensions:
    annotations: Nettrine\Annotations\DI\AnnotationsExtension
    doctrine.dbal: Nettrine\DBAL\DI\DbalExtension
    doctrine.dbal.console: Nettrine\DBAL\DI\DbalConsoleExtension
    doctrine.orm: Nettrine\ORM\DI\OrmExtension
    doctrine.orm.annotations: Nettrine\ORM\DI\OrmAnnotationsExtension
    doctrine.orm.console: Nettrine\ORM\DI\OrmConsoleExtension
    doctrine.cache: Nettrine\Cache\DI\CacheExtension
    console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
#    nettrine.dbal: Nettrine\DBAL\DI\DbalExtension
#    nettrine.dbal.console: Nettrine\DBAL\DI\DbalConsoleExtension(%consoleMode%)
#    nettrine.cache: Nettrine\Cache\DI\CacheExtension

doctrine.orm.annotations:
    mapping:
        App\Model\Entity: %appDir%\Model\Entity # The root folder where to start search for entities