{block content}
<div class="row">
    <div class="col-md-12">
        <div type="button" class="col-3 btn btn-outline-dark">
            Button 1
        </div>
        {*{if $user->isAllowed() === TRUE} *}

                {* {/if} *}

    </div>
</div>
<div class="row">
    {snippet  grid}
        {control tweetGrid}
    {/snippet}
</div>

